* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.section-inner {
  margin: 0 auto;
  max-width: 1330px; }

.title {
  margin-bottom: 51px;
  font-weight: 900;
  font-size: 45px;
  line-height: 1.17; }
  .title span {
    color: #3982E2; }
  @media (max-width: 600px) {
    .title {
      margin-bottom: 30px; } }

.section-services {
  margin-bottom: 20px;
  color: #443e3e; }
  .section-services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .section-services-item {
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    flex-basis: 260px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center; }
    .section-services-item:hover .section-services-item__button {
      opacity: 1; }
    .section-services-item:hover .section-services-item__title {
      color: #3982E2; }
    .section-services-item__img {
      margin-bottom: 25px; }
      .section-services-item__img img {
        display: block; }
    .section-services-item__title {
      width: 80%;
      margin-bottom: 21px;
      font-size: 25px;
      line-height: 29px;
      font-weight: 700;
      transition: .15s ease-in-out; }
    .section-services-item .title--item-mb-44 {
      margin-bottom: 50px; }
    .section-services-item__decription {
      margin-bottom: 15px; }
    .section-services-item__button {
      width: 155px;
      height: 39px;
      border: none;
      outline: none;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 700;
      background-color: #3982e2;
      color: #ffffff;
      cursor: pointer;
      opacity: 0;
      transition: .15s ease-in-out; }
      .section-services-item__button:hover {
        color: #3982E2;
        background-color: #fff;
        -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
        box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15); }
    .section-services-item svg {
      display: block;
      width: 78px;
      height: 78px; }
  @media (max-width: 600px) {
    .section-services-wrapper {
      justify-content: space-between; }
    .section-services-item {
      flex-basis: 200px; }
      .section-services-item__title {
        margin-bottom: 17px; }
      .section-services-item .title--item-mb-44 {
        margin-bottom: 50px; }
      .section-services-item__decription {
        margin-bottom: 15px; }
      .section-services-item svg {
        display: block;
        width: 53px;
        height: 53px; } }

.section-cases {
  color: #443E3E; }
  .section-cases-item + .section-cases-item {
    margin-top: 30px; }
  .section-cases-item {
    display: flex; }
    .section-cases-item:hover .section-cases-item__title {
      color: #2B74B9; }
    .section-cases-item:hover .section-cases-item__link {
      color: #2B74B9;
      font-weight: 700; }
    .section-cases-item:hover .arrow {
      opacity: 1;
      animation: move 2s infinite linear; }
    .section-cases-item__img {
      max-width: 850px;
      width: 100%;
      margin-right: 31px; }
      .section-cases-item__img img {
        display: block;
        width: 100%; }
    .section-cases-item__content {
      display: flex;
      flex-direction: column; }
    .section-cases-item__title {
      margin-bottom: 8px;
      font-weight: 900;
      font-size: 25px;
      transition: .15s ease-in-out; }
    .section-cases-item__description {
      margin-bottom: 12px;
      font-size: 15px;
      line-height: 1.2; }
    .section-cases-item__tags {
      display: flex; }
    .section-cases-item__tag {
      padding: 3px;
      border-radius: 5px;
      font-size: 10px;
      line-height: 1.2;
      background: #EEEEEE;
      color: #999999; }
      .section-cases-item__tag + .section-cases-item__tag {
        margin-left: 12px; }
    .section-cases-item__link {
      margin-top: auto;
      margin-bottom: 29px;
      font-size: 15px;
      text-decoration: none;
      color: #443E3E;
      transition: .15s ease-in-out; }
      .section-cases-item__link span {
        margin-right: 10px; }
      .section-cases-item__link .arrow {
        opacity: 0;
        width: 37px;
        height: 10px;
        transition: .15s ease-in-out; }
  @media (max-width: 900px) {
    .section-cases-item {
      flex-direction: column; }
      .section-cases-item__img img {
        border-radius: 10px; }
      .section-cases-item__title {
        margin-top: 9px; }
      .section-cases-item__description {
        display: none; }
      .section-cases-item__link {
        display: none; } }

@keyframes move {
  0% {
    transform: translateX(0%); }
  1% {
    transform: translateX(1px); }
  4% {
    transform: translateX(2px); }
  6% {
    transform: translateX(3px); }
  8% {
    transform: translateX(4px); }
  10% {
    transform: translateX(5px); }
  12% {
    transform: translateX(6px); }
  14% {
    transform: translateX(7px); }
  16% {
    transform: translateX(8px); }
  18% {
    transform: translateX(9px); }
  20% {
    transform: translateX(10px); }
  22% {
    transform: translateX(11px); }
  24% {
    transform: translateX(12px); }
  26% {
    transform: translateX(13px); }
  28% {
    transform: translateX(14px); }
  30% {
    transform: translateX(15px); }
  32% {
    transform: translateX(10px); }
  38% {
    transform: translateX(5px); }
  44% {
    transform: translateX(0); } }
